<div style=font-size:large;font-weight:bold>Map visualization</div>
                        The usage of the <em>supervisor-gui</em> component requires that the size of the map is known before it can display any grid. </br> In order to do that there are some different approaches.
                        <ol>
                            <li>
                                Moving the <em>detector</em> from the top left corner to the bottom left one, then from the bottom left to the bottom right. This way the height and width of the map would be discovered, it could be sent to the <em>supervisor-gui</em>, the <em>detector</em> would go back to its starting position and then be ready to explore again. This would introduce a new and unwanted behavior to the system.
                            </li>
                            <li>
                                Asking the client the size of the room, and telling that to the supervisor-gui as soon as the system starts. This solution implies  that the size of the room is already known.
                            </li>
                            <li>
                                Exploring until the system is aware that the width and height of the map are known, and then send that information to the <em>supervisor-gui</em>. This solution would be not intrusive from the <em>detector</em> perspective, but it violates the requirement that the <em> supervisor</em> should be updated in real time about the exploration.
                            </li>
                            <li>
                                Change the <em>supervisor-gui</em> component so that it can display the map in a dynamic way. This would have no consequences on the system’s core, but is a complex and time-consuming task.
                            </li>
                        </ol>
                        For these reasons, <mark>and after talking with the customer</mark> the most appropriate choice is number 2.
                        <hr>
<hr>


<!-- 
to the project sprint 1-->
<!-- a new component: <em>MapResource</em>. It will be responsible for the CRUD 
                            operations upon the representation of the map.

                            The requirements ask for a visualization of the map: this implies that the map should be memorized 
                            somewhere. </br>
                            One option could be memorizing the map directly in the <em>detector</em>, and while this means 
                            that the robot could update the map directly, this also implies that any changes made to the map representation
                            would mean also changing the robot, and on top of that any other component that needs information 
                            about the map would need to ask that to the robot. </br>
                            Having an autonomous component keeping a representation of the map would make for a better separation 
                            of concerns and incapsulation. In this scenario that component also needs to gather information about 
                            exploration. Since this kind of communication is possible this option is going to be used. </br>
                            <br>
                            In the requirements it is not clear HOW the systematic exploration should be carried out. This implies 
                            that the strategy should be incapsulated somewhere so that the behavior of the robot will not need 
                            to change if this strategy changes. 
                            Doing that implies defining the interaction with a new component: <em>MovingStrategy</em>. It is 
                            responsible for choosing what step will be executed next by the detector on the premises of the actual 
                            map, abstracting the concrete algorithm of exploration away from the model level. Thus, we need the
                            <em>MovingStrategy</em> to ask the <em>detector</em> to move. As a reply, the <em>detector</em> will 
                            tell if the explored tile was free from obstacles or occupied.
                            </br> -->

                            <div style=font-size:large;font-weight:bold>Handling the obstacles</div>
                            Even if the sprint requirements imposed the absence of obstacles around the room, the detector will still encounter walls during the exploration. The <em>step</em> would then have two possible outcomes: some sort of success, with the detector fully positioned in the tile ahead of its previous position, or a failure, where the detector bumped in an obstacle and could not complete the requested movement, staying in the same tile the movement was requested from. The latter possibility lays a physical problem, where the actual ddr robot needs to be equipped with some sort of sonar in order to identify the presence of a static obstacle to communicate the failing operation. After inquiring the customer, he confirmed that the physical robot is equipped with this kind of sensor.
                            <hr>

                                                        <!-- If it is bigger than a single cell (but smaller than two times a single cell) it will be considered to occupy two whole cells.
                        </br></br>
                        After a discussion with the customer, it has been determined the absence of the following exceptional circumstances:
                        <ul>
                            <li>Box pattern: an area of the <em>wroom</em> completely enclosed by obstacles, which would be unreachable for the <em>detector</em></li>
                            <li>Fake wall pattern: a subset of the box pattern, where the obstacles encloses an area of the <em>wroom</em> exploiting some of the walls to create the unreachable area</li>
                        </ul>
                        Even if the presence of these patterns would have simply meant that the discoverable area of the <em>wroom</em> would have been smaller, it would have resulted in several inconsistencies of the already deployed tests. Asking the customer about the presence of this situations means that the behaviour already implemented in our components does not need adjustements to refine the creation of the representation of the map.<br><br>
                            The exploration algorithm developed in the previous sprint is not powerful nor modular enough to include the outflanking of obstacles, since to perform this operation it is needed to precalculate several moves. The software house already has the needed knowledge of a piece of software called <em>Planner</em> that is capable of creating a sequence of moves that goes from point <b>A</b> to point <b>B</b> in the grid, taking into account the presence of obstacles.
                            </br>
                            The <em>MovingMind</em> is the system's component that will be in charge of adapting the answers of such a POJO to the messages of the work-in-progress system, so that no changes will be performed upon the already implemented model.  -->