<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
			<title>Supervisor Web Console</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<script type="text/javascript" src="/socket.io/socket.io.js"></script>
			<script>

// function escapeRegExp(str) {
//     return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
// }

var socket = io.connect('http://localhost:8080',{'force new connection': true});

socket.on('connect', function(data){ 
	console.log("socket connected");
	return true;
});

socket.on('map', function(data) {
	let content = data.map;
	document.getElementById('mapDisplay').innerHTML = 
		"" + content
			.replace(/@/g,'<br>')
			.replace('R','👾')
			.replace(/0/g,'🧩')
			.replace(/1/g,'💥')
			.replace(/2/g,'✅');
	return true;
});

socket.on('detectorbox', function(data) {
	let content = data.spaceLeft;
	document.getElementById('detectorBoxDisplay').innerHTML = content;
	return true;
});

socket.on('plasticbox', function(data) {
	let content = data.spaceLeft;
	document.getElementById('plasticBoxDisplay').innerHTML = content;
	return true;
});

socket.on('stuck', function(data) {
	console.log(data)
	document.body.style.backgroundColor = "#f44336"
	document.getElementById('explore').disabled = true;
	document.getElementById('suspend').disabled = true;
	document.getElementById('terminate').disabled = true;
	document.getElementById('tvoch').disabled = true;
	document.getElementById('tvocl').disabled = true;
	document.getElementById('rc').disabled = true;
	document.getElementById('ro').disabled = true;
	document.getElementById('btnnoplastic').disabled = true;
	document.getElementById('btnyesplastic').disabled = true;
	return true;
});

socket.on('isPlastic', function(data) {
	document.getElementById('btnnoplastic').disabled = false;
	document.getElementById('btnyesplastic').disabled = false;
	return true;
});

// socket.on('ready', function(data) {
// 	console.log(data)
// });

function resetbtn(){
	document.getElementById('btnnoplastic').disabled = true;
	document.getElementById('btnyesplastic').disabled = true;
	return true;
}
			
		</script>
		</head>

		<body style="background-color: #17a2b8;">

		<div class="text-white">

			<h2 align="center">Application console</h2>   
			<center>
				<table >	
					<tr>
						<td align="center">
							<form action="/explore" method="post">
								<input id="explore" type="submit" class="btn btn-primary" style="font-size:30px;"  value="🚴Explore" >
							</form>
						</td>
					</tr>
					<tr>
						<td align="center">
							<form action="/suspend" method="post">
								<input id="suspend" type="submit" class="btn btn-warning" style="font-size:30px;"  value="✋Suspend" >
							</form>
						</td>
						</tr>
						<tr>
						<td align="center">							
							<form action="/terminate" method="post">							    
								<input id="terminate" type="submit" class="btn btn-danger" style="font-size:30px;"  value="🗡️Terminate">						  	 
							</form>
						</td>
					</tr>
				</table>
			</center>
			<h2 align="center">Event console</h2>   
			<center>
				<table >	
					<tr>
						<td align="center">
							<form action="/tvochigh" method="post">
								<input id="tvoch" type="submit" class="btn btn-danger" style="font-size:30px;"  value="⚠️TVOC: high" >
							</form>
						</td>
						<td align="center">
							<form action="/tvoclow" method="post">
								<input id="tvocl" type="submit" class="btn btn-success" style="font-size:30px;"  value="TVOC: low✔️" >
							</form>
						</td>
					</tr>
					<tr>
						<td align="center">							
							<form action="/roomclosed" method="post">							    
								<input id="rc" type="submit" class="btn btn-success" style="font-size:30px;"  value="🔒Room closed"  >							  	 
							</form>
						</td>
						<td align="center">							
							<form action="/roomopen" method="post">							    
								<input  id="ro" type="submit" class="btn btn-danger"style="font-size:30px;"  value="Room open🔓"  >							  	 
							</form>
						</td>
					</tr>
					<tr>
						<td align="center">							
							<form action="/yesplastic" method="post" onsubmit=resetbtn()>							    
								<input disabled id="btnyesplastic" type="submit" class="btn btn-warning" style="font-size:30px;"  value="♻️Plastic"  >							  	 
							</form>
						</td>
						<td align="center">							
							<form action="/noplastic" method="post" onsubmit=resetbtn()>							    
								<input disabled id="btnnoplastic" type="submit" class="btn btn-secondary" style="font-size:30px;"  value="Not Plastic🧱"  >							  	 
							</form>
						</td>
					</tr>
				</table>
			</center>
		</div>
		<div class="text-white" align="center">
			<div> <b>DETECTOR BOX REMAINING SPACE</b>: <span id="detectorBoxDisplay"></span> </div>
			<div> <b>PLASTIC BOX REMAINING SPACE</b>: <span id="plasticBoxDisplay"></span> </div>
			<div>
				<b>ROOM MAP</b>: 
				<div style="text-align: center; font-size: xx-large;">
					<span id="mapDisplay"></span>
				</div> 
			</div>
		</div>
	</body>
</html>
